@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Kosugi+Maru&family=Lilita+One&family=Lobster+Two:ital,wght@1,700&family=Mulish:ital,wght@1,200&family=Murecho&family=Outfit:wght@200&family=Quicksand:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.animated{
  margin: 0 2rem;
  line-height: 0.3rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, .45);
  animation: span 3s ease-in infinite alternate;
}

.animated-container{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 600px) {
    transform: scale(.65);
  }
}@keyframes span{
  0%,30%{margin: 0 1.3rem; text-shadow: 0 0 0.1rem rgba(156, 105, 71, 0.45);}
  70%,100%{margin: 0 0.11rem;}
}